header {
  height: 100vh;
  padding-top: 8rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ===== CTA ===== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ===== SOCIALS ===== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 4rem;
  font-size: 1.5rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ===== ASTRO ===== */
.me {
  background: linear-gradient(0deg, var(--color-banner), transparent);
  width: 27rem;
  position: absolute;
  left: calc(40% - 4rem);
  margin-top: 10rem;
  border-radius: 100rem 100rem 5rem 5rem;
  overflow: hidden;
}

/* ===== SCROLL DOWN ===== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 500;
  font-size: 1rem;
}

/* ===== MEDIA CONFIG (Tablets) ===== */
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
    padding-top: 0.1rem;
    overflow: hidden;
    margin-top: 4.5rem;
  }
  .header__container {
    text-align: center;
    height: 90%;
    position: relative;
  }
  .me {
    background: linear-gradient(0deg, var(--color-banner), transparent);
    width: 26rem;
    left: calc(40% - 9rem);
    margin-top: 4rem;
    border-radius: 100rem 100rem 5rem 5rem;
    overflow: hidden;
  }
}

/* ===== MEDIA CONFIG (Mobiles) ===== */
@media screen and (max-width: 600px) {
  header {
    height: 95vh;
  }
  .me {
    width: 24rem;
    left: calc(40% - 10rem);
    margin-top: 1rem;
    overflow: hidden;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
